boto3
boto3-stubs[batch,logs,resourcegroupstaggingapi,s3]
connexion[swagger-ui]==2.14.2
docker
flask
paste
pytest
python_dateutil
requests
serverless-wsgi
setuptools
swagger-ui-bundle
werkzeug
botocore==1.30.0
urllib3===1.26.5
pytest==7.1.2
jsonschema==4.17.3
